<div class="container-fluid">
    <div class="my-3 row">
        <div class="leftSide col-lg-3 p-3">
            <div class="allFilesTitle p-2 rounded">
                All Images (Diagrams & UI) entered in SDLC
            </div>
            <div>
                <app-created-diagrams></app-created-diagrams>
                
            </div>
        </div>

        <div class="rightSide col-lg-9">
            <div>
                <app-diagram-details></app-diagram-details>
            </div>
    
        </div>
    </div>
</div>

