<div class="phaseDetails SRS my-4  border rounded overflow-auto"> 
    <div class="detailsName p-2 border d-flex justify-content-between align-items-center">
        <div id="docName">
            Software Requirements Specification (SRS)
        </div>
        <div>
            <button id="closeBtn" class="btn btn-secondary" [routerLink]="['/', 'sdlc', 'details']">Close</button>
        </div>
    </div>
    <div class="p-4 detailsContent">
        <div class="container">
            <div class="row my-3">
                <div class="col-md-4 offset-2"> 
                    <label for="">Introduction</label>
                </div>
                <div class="col-md-4"> 
                    <h5>{{srsDocumentDetails.introduction}}</h5>
                </div>

            </div>
            <div class="row my-3">
                <div class="col-md-4 offset-2"> 
                    <label for="">Purpose of Software being Developed</label>
                </div>
                <div class="col-md-4"> 
                    <h5>{{srsDocumentDetails.purpose}}</h5>
                </div>

            </div>
            <div class="row my-3">
                <div class="col-md-4 offset-2"> 
                    <label for="">Intended Audience</label>
                </div>
                <div class="col-md-4"> 
                    <h5>{{srsDocumentDetails.intendedAudience}}</h5>
                </div>

            </div>
            <div class="row my-3">
                <div class="col-md-4 offset-2"> 
                    <label for="">Overall Description of the Software</label>
                </div>
                <div class="col-md-4"> 
                    <h5>{{srsDocumentDetails.description}}</h5>
                </div>

            </div>
            <div class="row my-3">
                <div class="col-md-4 offset-2"> 
                    <label for="">System Features and Requirements</label>
                    <ul>
                        <li>Functional Requirements</li>
                        <li>Non-Functional Requirements</li>
                        <li>External Interface Requirements</li>
                    </ul>
                </div>
                <div class="col-md-4"> 
                    <h5>{{srsDocumentDetails.systemFeatures}}</h5>
                </div>

            </div>
    
            <div class="buttons row d-flex justify-content-center my-5">
                <div class="col-md-6">
                    <div class="buttons d-flex justify-content-around">
                        <button class="btn btn-primary px-4" (click)="editSRS()" >Edit</button>
                        
                        <button class="btn btn-danger px-4" (click)="deleteSRS()" >Delete</button>
                    </div>
                    
                </div>
            </div>
        </div>
        
    </div>
</div>